# system files
.DS_Store
Thumbs.db

# vscode
.vscode

# r
/renv
.Rhistory

# web dev
/node_modules

# quarto
/.quarto/

# raw data files
/data/bedmap2/bedmap2_tiff/*
/data/bedmap2.zip
/data/nsidc/*/
/data/nsidc/*.zip
!/data/nsidc/glaciers/
